flask==2.0.1
opencv-python==4.5.3.56
mediapipe==0.8.9.1
numpy==1.21.2
streamlit==1.31.1
pillow==10.2.0
tensorflow==2.19.0
gTTS==2.5.1
python-dotenv==1.0.1
flask-socketio==5.3.6
gunicorn==21.2.0 